/* CollabVM3 Themes CSS resource file */
body {
    --active-user-bg: #053d4d;
    --waiting-user-bg: #484800;
    --bs-navbar-new-color: #fff;
    --glow-radius: 0px;
    --glow-blur: 0px;
    --glow-colour: #4c31e0ce;
    
    --navi-back-col: /*#454551*/ var(--bs-tertiary-bg);
    --navi-text-col: /*#D8D9DC*/ var(--bs-body-color);
    --navi-text-hl-col: /*#F7DAE3*/ var(--bs-info-text-emphasis);
    --navi-text-hl-dark-col: /*#EA64E0*/ var(--bs-gray-300);
    --navi-light-back-col: /*#5F616C*/ var(--bs-body-bg);
    --navi-btn-pri-col: /*#C043E7*/ var(--bs-primary-text-emphasis);
    --navi-btn-tri-col: #E945E9;
    --navi-btn-qua-col: #D54773;
    --navi-lighter-back-col: /*#7A7D8B*/ var(--bs-gray-800);
    --navi-btn-light-pri-col: /*#D449FF*/ var(--bs-primary);
    --navi-btn-light-tri-col: #FF4BFF;
    --navi-btn-light-qua-col: #EF4F81;
    --navi-font-base: /*IBM Plex Sans Thin*/ var(--bs-body-font-family);
    --navi-font-head: /*IBM Plex Sans Medm*/ var(--bs-header-font-family);
    background-attachment: fixed;
}
:selection {
    background: var(--bs-info-text-emphasis);
}
.modal {
    --bs-modal-zindex: 200;
    animation-duration: 0.5s;
    animation-name: modalSlide;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    backdrop-filter: blur(var(--backdrop-blur-radius));
    --bs-modal-bg: var(--bs-tertiary-bg);
    overflow: inherit;
}
#user-list .turn-active {
--bs-table-bg:var(--active-user-bg) !important;
}
#user-list .turn-waiting {
--bs-table-bg:var(--waiting-user-bg) !important;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: var(--bs-navbar-active-color) !important;
}
.navbar-brand {
    color: var(--bs-navbar-active-color) !important;
    font-size: calc(var(--bs-body-font-size) + 0.25rem);
    font-family: var(--bs-header-font-family);
}
.navbar {
    --bs-navbar-active-color: var(--bs-navbar-new-color) !important;
    box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
    backdrop-filter: blur(var(--backdrop-blur-radius));
}
h4 {
    margin-bottom: -0.3em;
    margin-top: -0.15em;
}
h5 {
    font-size: calc(var(--bs-body-font-size) + 0.25rem);
}
.row {
    --bs-gutter-y: 1.5rem;
    margin-top: calc(-.5*var(--bs-gutter-y));
}
.card {
    animation-duration: 1s;
    animation-name: cardSlide;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    backdrop-filter: blur(var(--backdrop-blur-radius));
}
.card:hover {
    transform: scale(103%, 103%);
}
@keyframes cardSlide {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }
    to {
        opacity: 100%;
        transform: none;
    }
}
@keyframes modalSlide {
    from {
        opacity: 0%;
        transform: translateY(35px);
    }
    to {
        opactity: 100%;
        transform: none;
    }
}
#chat-history tr {
animation-duration: 0.2s;
animation-name: chatFade;
animation-iteration-count: 1;
animation-direction: normal;
animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
}
@keyframes chatFade {
    from {
        opacity: 0%;
    }
    to {
        opactity: 100%;
    }
}
.chat-table {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    backdrop-filter: blur(var(--backdrop-blur-radius));
}
.bg-body-tertiary {
    background-color: var(--bs-tertiary-bg) !important;
}
th.bg-body-tertiary {
    background-color: var(--bs-tertiary-bg) !important;
}
.username-administrator {
    color: var(--bs-danger-text-emphasis) !important;
}
.username-moderator {
    color: var(--bs-warning-text-emphasis) !important;
}
.btn {
    --bs-btn-font-size: var(--bs-body-font-size) !important;
}
.btn:hover {
    box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
}
#chat-username {
box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
}
#chat-input:focus {
box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
}
.btn-primary {
    --bs-btn-color: var(--bs-body-color) !important;
    --bs-btn-bg: var(--bs-primary-text-emphasis) !important;
    --bs-btn-border-color: var(--bs-primary-text-emphasis) !important;
    --bs-btn-hover-color:var(--bs-body-color) !important;
    --bs-btn-hover-bg: var(--bs-primary) !important;
    --bs-btn-hover-border-color: var(--bs-primary) !important;
    --bs-btn-active-color: var(--bs-body-color) !important;
    --bs-btn-active-bg: var(--bs-primary) !important;
    --bs-btn-active-border-color: var(--bs-primary) !important;
}
.btn-secondary {
    --bs-btn-color: var(--bs-body-color) !important;
    --bs-btn-bg: var(--bs-gray-700) !important;
    --bs-btn-border-color: var(--bs-gray-700) !important;
    --bs-btn-hover-color: var(--bs-body-color) !important;
    --bs-btn-hover-bg: var(--bs-gray-800) !important;
    --bs-btn-hover-border-color: var(--bs-gray-800) !important;
    --bs-btn-active-color: var(--bs-body-color) !important;
    --bs-btn-active-bg: var(--bs-gray-800) !important;
    --bs-btn-active-border-color: var(--bs-gray-800) !important;
}
.border {
    border-radius: var(--bs-border-radius);
}
.form-control {
    font-size: var(--bs-body-font-size);
}
.form-control:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
}
.card:hover {
    border-color: var(--bs-primary) !important;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--bs-primary) !important;
    --bs-dropdown-font-size: var(--bs-body-font-size) !important;
}
.input-group {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.input-group-text {
    font-size: var(--bs-body-font-size); !important
}
.simple-keyboard.cvmDisabled .hg-button {
    background-color: var(--bs-gray-300) !important;
    color: var(--bs-body-color) !important;
}
.simple-keyboard.cvmDark .hg-button:active {
    background-color: var(--bs-primary) !important;
    color: var(--bs-body-color) !important;
}
.hg-theme-default .hg-button.hg-activebutton {
    background-color: var(--bs-primary) !important;
}
.simple-keyboard.cvmDark .hg-button{
    background-color: var(--bs-primary-text-emphasis) !important;
}
.form-range::-webkit-slider-runnable-track {
    background-color: var(--bs-tertiary-bg) !important;
}
.form-range::-moz-range-track {
    background-color: var(--bs-tertiary-bg) !important;
}
.form-range::-webkit-slider-thumb {
    background-color: var(--bs-primary-text-emphasis) !important;
}
.form-range::-moz-range-thumb {
    background-color: var(--bs-primary-text-emphasis) !important;
}
.form-range::-webkit-slider-thumb:active {
    background-color: var(--bs-primary) !important;
}
.form-range::-moz-range-thumb:active {
    background-color: var(--bs-primary) !important;
}
::-webkit-slider-runnable-track {
    background-color: var(--bs-body-bg) !important;
}
::-moz-range-track {
    background-color: var(--bs-body-bg) !important;
}
::-webkit-slider-thumb {
    background-color: var(--bs-primary-text-emphasis) !important;
}
::-moz-range-thumb {
    background-color: var(--bs-primary-text-emphasis) !important;
}
::-webkit-slider-thumb:active {
    background-color: var(--bs-primary) !important;
}
::-moz-range-thumb:active {
    background-color: var(--bs-primary) !important;
}

.card:hover {
    border-color: var(--bs-primary);
    box-shadow: 0px 0px var(--glow-blur) var(--glow-radius) var(--glow-colour);
}
#chat-history-div{
backdrop-filter: blur(var(--backdrop-blur-radius));
}
.username-table {
    backdrop-filter: blur(var(--backdrop-blur-radius));
}

/* New! */


.themes-hide {
    display: none;
    opacity: 0;
}

.themes-modal {
    border: 1px solid black;
    width: 62.5rem;
    height: 43.5rem;
    background-color: var(--navi-back-col);
    font-family: var(--navi-font-base);
    font-size: 1rem;
    color: var(--navi-text-col);
}

.themes-modal label {
    display: inherit;
}

@media (width >= 576px) {
  .modal-dialog {
      max-width: inherit;
}

.modal-content {
    padding: 0.75em;
    background-color: inherit;
    border: none;;
}

.modal-header {
    display: flex;
    flex-direction: row;
    font-family: var(--navi-font-head);
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--navi-text-col);
}

.modal-dialog {
    margin: inherit;
}

.themes-nav {
    flex: 5;
    font-size: 16pt;
}

.themes-nav > a:hover {
    color: var(--navi-text-hl-dark-col);
    cursor: pointer;
    transition: color 0.25s ease-out;
}

.themes-selected-tab {
    color: var(--navi-text-hl-dark-col);
}

.btn-close {
    flex: 1;
    max-width: 2em;
}

.themes-page {
    display: grid;
    grid-template-columns: 18.75em auto;
    grid-template-rows: auto 15.25em;
    height: 37.5em;
}

.themes-page-side {
    grid-row: 1 / span 2;
    grid-column: 1;
    border-right: 1px solid var(--navi-text-col);
    margin-right: 1em;
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
}

.themes-page-main {
    grid-row: 1;
    grid-column: 2;
    margin: 0.25em 0.25em 1em 0;
}

.themes-page-footer {
    grid-row: 2;
    grid-column: 2;
    margin-left: auto;
    margin-right: 0.5em;
    align-content: flex-end;
}

.table-selector {
    background-color: var(--navi-light-back-col);
    border: 2px solid black;
    display: inline-block;
    font-size: 14pt;
    flex: 10;
    width: 17.5rem;
    overflow: auto;
    margin-bottom: 0.5em;
}

.table-selector td {
    padding: 0.15em 0.25em;
}

.highlighted {
    background-color: var(--bs-primary);
}

#themesPresetSelector {
    height: 31.5em;
}

#themesDefaultButtonCon {
    display: inline-flex;
    width: 17.5em;
    flex:1;
    margin: 0.25em;
}

#themesDefaultButton {
    flex: 2;
    max-width:1.75em;
}

#themesDefaultLabel {
    height: 1em;
    align-self: center;
    margin-left: 1em;
}

#themesDefaultLabel > h4 {
    margin: unset;
}

#themesFontSelector {
    height: 12em;
}

#themesImagesSelector {
    height: 12em;
}

.themes-input-header {
    font-size: 18pt;
    position: relative;
    width: auto;
    text-align: right;
    top: 0.65em;
    right: 1.2em;
    padding: 0;
    margin: 0;
    pointer-events: none;
}


.themes-button-header {
    font-size: 18pt;
    width: auto;
    text-align: right;
    padding: 0;
    margin: 0.25em 0.5em;
}

.themes-preset-unsaved {
    font-weight: bold;
}

.themes-preset-local {
    color: var(--navi-text-hl-col);
}

.themes-modal .btn {
    width: 9em;
    height: 2em;
    font-size: 16pt;
    padding: 0;
    font-family: var(--navi-font-base);
    color: white;
    border: 1px solid black;
    transition: background-color 0.5s ease-out;
}

.themes-modal .btn-primary {
    background-color: var(--navi-btn-pri-col);
    flex: 3;
}

.btn-primary:hover {
    background-color: var(--navi-btn-light-pri-col);
}

.btn-secondary {
    background-color: var(--navi-light-back-col);
}

.btn-secondary:hover {
    background-color: var(--navi-lighter-back-col);
}

.btn-tertiary {
    background-color: var(--navi-btn-tri-col);
}

.btn-tertiary:hover {
    background-color: var(--navi-btn-light-tri-col);
}

.btn-quaternary {
    flex: 1;
    background-color: var(--navi-btn-qua-col);
}

.btn-quaternary:hover {
    background-color: var(--navi-btn-light-qua-col);
}


#themesPresetApplyButton {
    width: 17.5rem;
    flex: 1;
}

.themes-input-box {
    width: 35.25em;
    background-color: var(--navi-light-back-col);
    border: 2px solid black;
    font-family: var(--navi-font-base);
    font-size: 14pt;
    color: var(--navi-text-col);
    padding-left: 0.4em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.themes-large-input-box {
    height: 8.5em;
    resize: none;
}

#themesBaseFontFlex {
    display: flex;
    max-width: 42em;
}

#themesBaseFontSizeInput {
    flex: 1;
    margin-right: 1em;
}

#themesBaseFontInput {
    flex: 9;
}

#themesBackBlurFlex {
    display: flex;
    max-width: 42em;
}

#themesBackBlurInput {
    flex: 4;
    margin-right: 1em;
}

#themesBackBlueDisp {
    flex: 5;
}

.themes-ft-flex {
    display: flex;
    max-width: 42em;
    column-gap: 0.75em;
}

#themesFontImportInput {
    flex: 6;
}

#themesImgImportInput {
    flex: 6;
}

#themesColBlankCon {
    margin-top: 0.5em;
}

#themesColBlank {
    height: 12em;
}

.themes-page4-flex {
    display: flex;
    max-width: 42em;
}

.themes-page4-input {
    flex: 4;
    margin-right: 1em;
}
